#reorder-yes-button {
    background: #066DAE;
    color: #fff;
}

#reorder-no-button {
    background: #D2D7DA;
    color: #000;
}

#reorder-task{
padding: 0px 30px 0px 30px;   
}

#reorder-button-wrapper button {
    width: 48%;
}